<div class="jumbotron">
  <h1>Welcome to My Application</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel unde nemo porro perferendis eos molestias nesciunt! Dolore, voluptatum, facilis voluptate explicabo quis perferendis odio sunt aliquam ipsam fugit atque sit.</p>
  <p>Similique vitae suscipit praesentium labore itaque culpa porro assumenda sapiente. Corporis, cumque, quaerat, impedit numquam quae voluptate ipsam necessitatibus consequuntur odit veritatis voluptas alias deserunt fugit ipsa ipsum minima assumenda.</p>
  <p>Aut, eveniet, vero, consequatur, maxime odio eius molestias laborum temporibus eligendi tempora dolore officia rerum. Consequuntur, iste, blanditiis, veritatis cumque culpa aliquid at autem quisquam doloremque ad laboriosam recusandae cupiditate.</p>
</div>

<div class="col-md-4 col-sm-6 m10">
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, officia, voluptatem, hic aliquid ab et asperiores voluptates recusandae velit excepturi enim rem iste illo soluta deserunt. Amet, optio ad totam.
	</p>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, officia, voluptatem, hic aliquid ab et asperiores voluptates recusandae velit excepturi enim rem iste illo soluta deserunt. Amet, optio ad totam.
	</p>

</div>
<div class="col-md-4 col-sm-6 m10">
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, officia, voluptatem, hic aliquid ab et asperiores voluptates recusandae velit excepturi enim rem iste illo soluta deserunt. Amet, optio ad totam.
	</p>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, officia, voluptatem, hic aliquid ab et asperiores voluptates recusandae velit excepturi enim rem iste illo soluta deserunt. Amet, optio ad totam.
	</p>

</div>
<div class="col-md-4 col-sm-6 m10">
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, officia, voluptatem, hic aliquid ab et asperiores voluptates recusandae velit excepturi enim rem iste illo soluta deserunt. Amet, optio ad totam.
	</p>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, officia, voluptatem, hic aliquid ab et asperiores voluptates recusandae velit excepturi enim rem iste illo soluta deserunt. Amet, optio ad totam.
	</p>
</div>