<div class="page-header">
	<h1>Posts <% if current_user %><%= link_to "new post", new_post_path, class: "btn btn-primary btn-md" %><% end %></h1>
</div>

<ul>
	<% @posts.each do |post| %>
		<div class="col-md-3 col-sm-6 col-md-3">
			<%= link_to post, class: 'thumbnail m10 athumb height200', style: 'height: 200px' do %>
				<h3>
					<%= post.title %>
				</h3>
				<p>
					<%= post.body %>
				</p>
			<% end %>
		</div>
	<% end %>
	<hr class="clear-all"/>
	<p class="navbar-fixed-bottom">
		<ul class="pager">
		  <li class="previous"><a href="#">&larr; Older</a></li>
		  <li class="next"><a href="#">Newer &rarr;</a></li>
		</ul>
	</p>
	<hr />
	
</ul>
